* {
    font-family:"Georgia", "sans-serif";
}

#container {
    width:800px;
    margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-variant:small-caps;
}

table {   
    border-collapse:collapse;
    width:400px;
}

td, th {
    border:1px solid #c7c7c7;
    padding:5px;
    text-align:left;
}
